/*/////////////////////////////////////////////////////////
//	STYLE CSS
///////////////////////////////////////////////////////////*/

body {
    background-color: black;
}

* {
    color: white;
}

.button {
	color: white;
}

a {
	color: white;
}