/*/////////////////////////////////////////////////////////
//	STYLE CSS
///////////////////////////////////////////////////////////*/

body {
    background-color: black;
}

* {
    color: white;
}

.button {
	color: white;
}

a {
	color: white;
}

.date-string {
	color: dodgerblue;
}

.time-string {
	color: green;
}